/* include bootstrap.css */

body {
	min-width:320px;
	color:#fff;
	background-color:#4abdea;
}

.form-messages {
	display:none;
}
.btn-loader,
.btn-loader:active {
	padding-right:40px;
	background-image:url(__loader.gif__);
	background-position:right center;
	background-repeat:no-repeat;
}