/* include bootstrap.css */

body {
	min-width:320px;
	color:#fff;
	background-color:#4abdea;
}

.form-messages {
	display:none;
}
/* Loading icon */
.btn i,
.btn:active i {
	color:#486cc0;
	display:none;
}
.btn-loader i,
.btn-loader:active i {
	display:inline-block;
}